<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>impr</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>logeo</display-name>
    <servlet-name>logeo</servlet-name>
    <servlet-class>servlets.logeo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logeo</servlet-name>
    <url-pattern>/logeo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fuer</display-name>
    <servlet-name>fuer</servlet-name>
    <servlet-class>servlets.fuer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fuer</servlet-name>
    <url-pattern>/fuer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>personas</display-name>
    <servlet-name>personas</servlet-name>
    <servlet-class>servlets.personas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>personas</servlet-name>
    <url-pattern>/personas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>s_usuario</display-name>
    <servlet-name>s_usuario</servlet-name>
    <servlet-class>servlets.s_usuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s_usuario</servlet-name>
    <url-pattern>/s_usuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getPersonas</display-name>
    <servlet-name>getPersonas</servlet-name>
    <servlet-class>servlets.getPersonas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getPersonas</servlet-name>
    <url-pattern>/getPersonas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getPer</display-name>
    <servlet-name>getPer</servlet-name>
    <servlet-class>servlets.getPer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getPer</servlet-name>
    <url-pattern>/getPer</url-pattern>
  </servlet-mapping>
</web-app>